@model IEnumerable<Coursework1.Models.ViewPostVM>

@{
    ViewData["Title"] = "Index";
}

<h2>Posts</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Post)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                <a asp-action="Details" asp-route-id="@item.Id">@Html.DisplayFor(modelItem => item.Post)</a>
            </td>
            <td>
                <a asp-controller="Comment" asp-action="CommentsView" asp-route-id="@item.Id">Comments</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
